:host {
  --__color: var(
    --blockquote-tab-color-dark-mode,
    var(--blockquote-tab-color-ambient, var(--theme-colors-secondary500, rgb(32, 32, 32)))
  );
  --_color: var(--blockquote-tab-color, var(--__color));
  --_selected-border-color: var(
    --blockquote-tab-selected-border-color,
    var(
      --blockquote-tab-selected-border-color-ambient,
      var(--theme-colors-secondary500, rgb(184, 184, 184))
    )
  );
  --_focus-outline-color: var(
    --blockquote-tab-focus-outline-color,
    var(
      --blockquote-tab-focus-outline-color-ambient,
      var(--theme-colors-secondary500, rgb(184, 184, 184))
    )
  );

  display: flex;
  flex-direction: column;
  justify-content: center;
  white-space: nowrap;
  color: var(--_color);
  padding-block: 1em;
  padding-inline: 0.5em;
  min-inline-size: 6.25rem;
  border-block-end: 0.0625rem solid transparent;
  transition: border-block-end-color 192ms ease-in-out;
  cursor: pointer;
}

:host([hidden]),
[hidden] {
  display: none !important;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:host([aria-selected="true"]) {
  font-weight: 700;
  border-block-end-color: var(--_selected-border-color);
}

:host(:focus:not(:focus-visible)) {
  outline: none;
}

:host(:focus-visible) {
  outline: 0.0625rem dashed var(--_focus-outline-color);
  outline-offset: -0.125rem;
}

slot::before {
  content: attr(data-text);
  display: block;
  font: inherit;
  font-weight: 700;
  inline-size: inherit;
  block-size: 0;
  overflow: hidden;
  visibility: hidden;
}
