:host {
  --_host-color: var(--blockquote-base-embedded-webview-size-color, inherit);
  --_rect-height: var(--blockquote-base-embedded-webview-size-rect-height, 1.125rem);
  --_rect-size: var(--blockquote-base-embedded-webview-size-rect-size, 0.6875rem);
  --_button-border-color: var(
    --blockquote-base-embedded-webview-size-button-border-color,
    rgb(184, 184, 184)
  );
  --_button-bgcolor: var(
    --blockquote-base-embedded-webview-size-button-bgcolor,
    rgb(234, 234, 234)
  );
  --_button-bgcolor-hover: var(
    --blockquote-base-embedded-webview-size-button-bgcolor-hover,
    rgb(220, 220, 220)
  );
  --_button-bgcolor-selected-hover: var(
    --blockquote-base-embedded-webview-size-button-bgcolor-selected-hover,
    rgb(210, 210, 210)
  );

  color: var(--_host-color);
  display: block;
  box-sizing: border-box;
  pointer-events: none;
}

:host([hidden]),
[hidden] {
  display: none !important;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

button {
  appearance: none;
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  pointer-events: auto;
  font: inherit;
  margin: 0;
  padding: 0;
  block-size: inherit;
  text-align: inherit;
  text-decoration: none;
  text-transform: inherit;
  text-shadow: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  inline-size: auto;
}

.rect {
  overflow: hidden;
  block-size: var(--_rect-height);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--_rect-size);
  white-space: nowrap;
  text-align: center;
  letter-spacing: 0.0625rem;
  box-shadow: 0 1px 0 0 var(--_button-bgcolor);

  & [aria-hidden="true"] {
    cursor: pointer;
    letter-spacing: inherit;
    position: absolute;
  }

  & [aria-disabled="true"] {
    opacity: 0.4;

    &::after {
      content: "";
      display: block;
      block-size: 1px;
      inline-size: calc(100% + 2rem);
      position: absolute;
      inset-inline-start: 50%;
      inset-block-start: 50%;
      transform: translate(-50%, -50%);
      background-image: linear-gradient(90deg, rgb(0, 0, 0, 0), rgb(0, 0, 0, 1), rgb(0, 0, 0, 0));
    }
  }
}

button {
  position: absolute;
  background-color: var(--_button-bgcolor);
  border-inline-start: 1px solid var(--_button-border-color);
  border-inline-end: 1px solid var(--_button-border-color);

  span {
    opacity: 0;
    pointer-events: none;
    user-select: none;
  }

  &:hover {
    background-color: var(--_button-bgcolor-hover);
  }

  &[data-selected],
  &[data-selected] ~ & {
    background-color: var(--_button-bgcolor-hover);
  }

  &:hover ~ & {
    background-color: transparent;
  }

  &:not([data-selected]):hover {
    span {
      opacity: 1;
    }

    & ~ span {
      visibility: hidden;
    }
  }

  &[data-selected] ~ &:hover {
    background-color: var(--_button-bgcolor-selected-hover);
  }
}
