:host,
::slotted([slot="embedded"]) {
  display: block;
  box-sizing: border-box;
  inline-size: 100%;
  block-size: 100%;
  margin: 0;
  border: 0;
}

:host([hidden]),
[hidden] {
  display: none !important;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
