:host {
  --_background-color: var(--blockquote-dialog-background-color, rgb(255, 255, 255));
  --_max-height: var(--blockquote-dialog-max-height, min(35rem, calc(100% - 3rem)));
  --_max-width: var(--blockquote-dialog-max-width, min(35rem, calc(100% - 3rem)));
  --_min-height: var(--blockquote-dialog-min-height, 8.75rem);
  --_min-width: var(--blockquote-dialog-min-width, 17.5rem);
  --_padding: var(--blockquote-padding, 1rem);

  box-sizing: border-box;
  display: contents;
  background-color: var(--_background-color);
  margin-block: auto;
  margin-inline: auto;
  max-block-size: var(--_max-height);
  max-inline-size: var(--_max-width);
  min-block-size: var(--_min-height);
  min-inline-size: var(--_min-width);
}

:host([hidden]),
[hidden] {
  display: none !important;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

dialog {
  inset: 0;
  background: inherit;
  border: none;
  border-radius: inherit;
  margin-block: inherit;
  margin-inline: inherit;
  max-block-size: inherit;
  max-inline-size: inherit;
  min-block-size: inherit;
  min-inline-size: inherit;
  outline: none;
  overflow: visible;
  padding: 0;
}

dialog[open],
.scroller,
.content {
  display: flex;
  flex-direction: column;
}

.scroller {
  overflow-y: auto;
  overflow-block: auto;
}

.content {
  padding-block: var(--_padding);
  padding-inline: var(--_padding);
}
