:root {
  --gray-50: hsl(0 0% 97.5%);
  --gray-100: hsl(240 4.8% 95.9%);
  --gray-200: hsl(240 5.9% 90%);
  --gray-300: hsl(240 4.9% 83.9%);
  --gray-400: hsl(240 5% 64.9%);
  --gray-500: hsl(240 3.8% 46.1%);
  --gray-600: hsl(240 5.2% 33.9%);
  --gray-700: hsl(240 5.3% 26.1%);
  --gray-800: hsl(240 3.7% 15.9%);
  --gray-900: hsl(240 5.9% 10%);
  --gray-950: hsl(240 7.3% 8%);

  font: normal medium/1.25 sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
}

playground-ide {
  --playground-bar-height: 80px;
  --playground-highlight-color: var(--gray-800);
  --playground-code-linenumber-color: var(--gray-300);
  --playground-tab-bar-background: var(--gray-100);

  box-sizing: border-box;
  overflow: hidden;
  height: inherit;
}
