name: Publish

on:
  pull_request:
    types: [closed]
    branches:
      - main
      - master

  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22.x'
          registry-url: 'https://registry.npmjs.org'
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Cache node modules
        uses: actions/cache@v4
        with:
          path: node_modules
          key: ${{ hashFiles('**/package-lock.json') }}
      - name: Install dependencies
        run: npm ci
      - name: Check for skip lerna in commit message
        id: check_skip
        run: |
          COMMIT_MESSAGE=$(git log -1 --pretty=%B)
          echo "Commit message: $COMMIT_MESSAGE"
          if [[ "$COMMIT_MESSAGE" == *"[skip lerna]"* ]]; then
            echo "SKIP_LERNA=true" >> $GITHUB_ENV
          else
            echo "SKIP_LERNA=false" >> $GITHUB_ENV
          fi
      - name: Version and publish with Lerna
        if: env.SKIP_LERNA == 'false'
        run: |
          git config user.name "${{ github.actor }}"
          git config user.email "${{ github.actor }}@users.noreply.github.com"
          npx lerna version --yes
          npx lerna publish from-package --yes
env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
